[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd

#slow_query_log = 1
#slow_query_log_file = /var/log/mysql-slow-logs.log
#long_query_time = 0

thread_cache_size=100
# クエリキャッシュ最大サイズ
query_cache_limit=128M

# クエリキャッシュで使用するメモリサイズ
query_cache_size=2048M

# クエリキャッシュのタイプ(0:off, 1:ON SELECT SQL_NO_CACHE以外, 2:DEMAND SELECT SQL_CACHEのみ)
query_cache_type=1

innodb_file_per_table=ON

innodb_buffer_pool_size=6G


max_allowed_packet = 256M
innodb_buffer_pool_size = 256M

[mysqld_safe]
#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
